div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30%;

    input {
        padding: 5px 10px;
        margin-bottom: 10px;
        border-radius: 10%;
    }

    p {
        color: red;
    }

    button {
        padding: 5px 10px;
    }
}