<div>
  <google-chart
    #chart
    [type]="type"
    [data]="dietData.calories"
    [columnNames]="columnNames.calories"
    
    [width]="width"
    [height]="height"
  >
  </google-chart>
  <google-chart
    #chart
    [type]="type"
    [data]="dietData.protein"
    [columnNames]="columnNames.protein"
    
    [width]="width"
    [height]="height"
  >
  </google-chart>
  <google-chart
    #chart
    [type]="type"
    [data]="dietData.fat"
    [columnNames]="columnNames.fat"
    
    [width]="width"
    [height]="height"
  >
  </google-chart>
</div>
